<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Welcome to Project_Ration</h1>
    <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-default" %>
  </div>
</div>
