<% content_for :head do %>
    <section class="header header-home">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>Welcome to Project_Ration</h1>
          </div>
        </div>
      </div>
    </section>
<% end %>
