<table class="budget">

  <thead>
    <th>Categorys</th>
    <th>Jan</th>
    <th>Feb</th>
    <th>Mar</th>
    <th>Apr</th>
    <th>May</th>
    <th>Jun</th>
    <th>Jul</th>
    <th>Aug</th>
    <th>Sep</th>
    <th>Oct</th>
    <th>Nov</th>
    <th>Dec</th>
  </thead>
    
  <tbody>
    <!--Loops over a categorys array to create corresponding table data-->
    <% @budget.categories.each do |category| %>
      <tr>
        
      </tr>
    <% end %>
   </tbody>
</table>