<div class="row">
  <div class="col-md-8 col-md-offset-2 budget-form">
    <h1 class="text-center"><%= @budget.name %></h1>
    
    <!--This table is an example of a spreatsheet structure-->
    <!--This code will be changed-->
    <table class="budget">

      <thead>
        <th>Categorys go here</th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
      </thead>
      
      <tbody>
        <!--Loops over a categorys array to create corresponding table data-->
        <% @categorys.each do |category| %>
          <tr>
            <td><%= category %></td>
            <!-- creates a <td> for all the months (5 for now) -->
            <% (1..5).each do |i| %>
              <td>
                <!--loops through the expenses
                <% @budget.expenses.each do |expense| %>
                  <!-- If the categorys and the date matches, places the expense in the created cell -->
                  <% if expense.category == category && expense.date.month == i %>
                    <%= "#{expense.amount}$" %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
       </tbody>
    </table>
    <!--Table code ends here-->
  </div>
</div>