<div class="row">
  <div class="col-md-8 col-md-offset-2 budget-form">
    <h1 class="text-center"><%= @budget.name %></h1>
      
      <!--List of categories each with a link to new expense-->
      <ul class="list-unstyled">
      <% @categories.each do |category| %>
        <li>
          <!--Passes the category ID as a string-->
          <%= link_to category.name, new_budget_expense_path(@budget,
                                                      category: category) %>
        </li>
      <% end %>
      </ul>
  </div>
</div>