.budget-form{
  margin-top: 20px;
  .right-span{
    float: right;
  }
  li{
    border-bottom: 1px solid #808080;
    padding: 10px ;
  }
}
.budget{
  margin-bottom: 100px;
}

.expenses-index{
  th, td{
    padding: 5px 10px;
  } 
}

aside{
  margin-top: 20px;
  h3{
    margin-top: 40px;
    padding: 10px;
  }
}