<div class="col-md-8 col-md-offset-2">
  <h3>Showing expenses for <strong><%= @budget.name %></strong></h3>
  <table class="expenses-index">
    <thead>
      <th>Expense name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Date of entry</th>
      <th>Category</th>
    </thead>
    <tbody>
      <%= render @expenses %>
    </tbody>
  </table>
</div>