<div class="col-md-6">
  
  <div class="well">
    <h2>Create Expense</h2>
      <% if params[:category] %>
      <%= render "basic_form" %>
    <% else %>
      <%= render "new_category_form" %>
    <% end %>
  </div>
  
</div>