<div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Update account details</h3>
        </div>
        <div class="panel-body">
          <form action="">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" name="email" class="form-control" value="<%= current_user.email %>">
            </div>
            <button type="submit" class="btn btn-success">Update details</button>
          </form>
        </div>
      </div>
    </div>
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Update password</h3>
      </div>
      <div class="panel-body">
        #
      </div>
    </div>
  </div>
</div>

<%= react_component 'Profile' %>