<div class="row">
    <div class="col-sm-4">
        <form action="">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" class="form-control" value="<%= current_user.email %>">
            </div>
            <button type="submit" class="btn btn-success">Update profile</button>
        </form>
    </div>
</div>